# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

## Objectives :
- List popular languages used in Data Science
- List commonly used libraries in Data Science
- Examples evaluating arithmetic expressions

### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Java

### Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Scikit-learn
3. TensorFlow

| Data Science Tools |
|--------------------|
| RStudio |
| Apache Spark |
| Apache Hadoop |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to mutiply then add integers
x=3*4
y=5
z=x+y
print(z)

17

In [3]:
# This will convert 200 minutes to hours by diving by 60
x=200
y=60
z=x/y
print(z)

3.3333333333333335

## Author
Devanshi Sharma